
@{
    ViewBag.Title = "Index";
}

<div class="content">
    <button class="btn btn-primary" onclick="ajaxHelper.meDrives();">My Drives</button>
    <button class="btn btn-primary" onclick="getUsers();">All User</button>
</div>

<div class="info">
</div>

