@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Slide {
    <div class="slide">
        <ul class="list-group">
            <li class="list-group-item" style="background-color:#808080;border:none;border-bottom:1px solid #ddd;">
                我的信息
                <span class="glyphicon glyphicon-chevron-right" style="float:right;"></span>
            </li>
            <li class="list-group-item" style="background-color:#808080;border:none;border-bottom:1px solid #ddd;">
                我的信息
                <span class="glyphicon glyphicon-chevron-right" style="float:right"></span>
            </li>
        </ul>
    </div>
}
@RenderBody()
