
@{
    ViewBag.Title = "Calendar";
}

<div class="content">
    <button class="btn btn-primary" onclick="ajaxHelper.events();">My Calendar Events</button>
    <button class="btn btn-primary" onclick="ajaxHelper.calendar();">My Calendar</button>
</div>

<div class="info">
</div>


