@using Microsoft.Graph

<div class="content">
    <button class="btn btn-primary" onclick="ajaxHelper.myMail();">My Email</button>
    <button class="btn btn-primary" onclick="getUsers();">All User</button>
</div>

<div class="info">

</div>
<script>
    function getUsers() {
        var user = ajaxHelper.users();

    }
</script>

