@{
    ViewBag.Title = "index";
}

<div style="margin-top:10px;">
    @using (Html.BeginForm("GetAccessToken", "Home"))
    {
        <div class="col-sm-12">
            <div class="form-group">
                <button class="btn btn-default" id="get-my-email-address">Get Access Token</button>
            </div>
        </div>
    }
    @if (ViewBag.AccessToken != null)
    {
        <h3>AccessToken:</h3>
        <h4>@ViewBag.AccessToken</h4>
    }
</div>


