@*@{
        Layout = "~/Views/Shared/_LayoutSlide.cshtml";
    }*@
<div class="content">
    <button class="btn btn-primary" onclick="ajaxHelper.me();">My Profile</button>
    <button class="btn btn-primary" onclick="getUsers();">All User</button>
</div>

<div class="info">
</div>
<script>
    function getUsers() {
        var user = ajaxHelper.users();

    }
</script>

