html, body{
    width:100%;
    height:100%;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    width:100%;
    height:100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.slide{
    float:left;
    padding-left:15px;
    padding-top:15px;
    padding-bottom:15px;
    color:#fff;
    border:1px solid blue;
    width:100%;
    height:100%;
    background:#808080;
}
.group-item{
    border-bottom:1px solid #ddd;
    background-color:#808080;
}

